head
  title #{title}
  
  meta(charset="utf-8", name="viewport", content="initial-scale=1.0")

  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/simple-sidebar.css')
  link(rel='stylesheet', href='/css/custom.css')
  link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')

  link(rel='import', href='http://www.polymer-project.org/components/paper-ripple/paper-ripple.html')
  link(rel='import', href='http://www.polymer-project.org/components/paper-spinner/paper-spinner.html')
  link(rel='import', href='http://www.polymer-project.org/components/paper-button/paper-button.html')    
  link(rel='import', href='http://www.polymer-project.org/components/paper-fab/paper-fab.html')    
  link(rel='import', href='http://www.polymer-project.org/components/core-icons/core-icons.html')    
  
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/js/bootstrapValidator.js')
  script(src='/js/mediaCheck.js')

  script(src='/js/menuToggle.js')
  script(src='/js/contactForm.js')
  script(src='/js/contactFormValidation.js')
  script(src='/js/navPillActive.js')
  script(src='/js/resizeIntro.js')