doctype
html.html-root
  include head.jade
body
  block navigation  
  #ja-page.lg.lg-on
    #ja-sidebar.lg-on
      block sidebar
    .blackout    
    block intro
    #ja-content
      .container-fluid
        .row
          .col-md-12
            block about              
            block recent-work
            block research
            block resume
            block contact